data/
obj/
test/
run
.cproject
.project
.settings/

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
out1.txt
out2.txt
out3.txt
out4.txt
out5.txt

cachegrind.out.*

deque_test
fbstp_test
utoa_test
cstring_score_test
naive_utoa_test
cstring_pdouble_test
